<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/frameworks/bootstrap/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/CSS/login.css">
    <title>Iniciar sesion</title>
</head>
<body >
   <header>
       <img class="icon" src="/img/SVG/Imagotipo Sentry 2021_Águila Blanca.svg" style="margin: 10px;">
       <h2 class="header-sesion"></h2>
   </header>
    <div class="wrapper fadeInDown">
        <!-- <img class="img-fondo" src="lib/img/FONDO2.jpg" alt="">     -->
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="/img/SVG/inicio-sesion.svg" id="icon" alt="User Icon"/>
            <h3 class="subt">Inicia sesión</h3>
          </div>
      
          <!-- Login Form -->
          <form id="container" action="https://desarrollo_08.sistemasentry.com.co/SentryQualityManagement/swagger/index.html" method="POST">
            <input type="text" class="fadeIn second" required="true" name="User" placeholder="Ingresa email">
            <input type="password" class="fadeIn third" required="true" name="Password" placeholder="Ingresa contraseña">
           
            <button class="btn btn-danger" type="submit">Ingresar</button>
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="recuperacion.html">Olvidaste tu contraseña?</a>
          </div>
      
        </div>
     



    <script>
      // const $container = document.querySelector('#container')


      // const $usuario = document.querySelector('#usuario')
      // function renderUsuario(formData) {
      //     const usuario = formData.get('usuario')
      //     $usuario.textContent = usuario
      // }
      // const $pass = document.querySelector('#pass')
      // function renderPass(formData) {
      //     const pass = formData.get('pass')
      //     $pass.textContent = pass
      // }

      // $container.addEventListener('submit', (Event) => {
      //     Event.preventDefault()
      //     const formData = new FormData(Event.currentTarget)
      //     renderUsuario(formData)
      //     renderPass(formData)
      //     fetch(`http://localhost/SentryQualityManagemenet`, {
      //       method: 'POST',
      //       body: formData,
      //     })
      // })

      const $container = document.querySelector('#container')

      $container.addEventListener('submit', login)

     async function login(event){
        event.preventDefault()
        const form = new FormData(this)
        const response = await fetch(this.action, {
          method: this.method,
          body: form,
          headers: {
            'Accept': 'application/json'
          }
          
        })
        if (response.ok){
          this.reset()
          alert('Gracias por registrarte, Bienvenido :')
        }
      }
    </script>
    <script src="/js/jQuery.js"></script>
    <script src="/lib/frameworks/bootstrap/js/bootstrap.min.js"></script>
    
    </body>
</html>