<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/frameworks/bootstrap/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/CSS/login.css">
    <title>Iniciar sesion</title>
</head>
<body >
   <header>
       <img class="icon" src="/img/PNG/LogooSentry.png" style="margin: 10px;">
       <h2 class="header-sesion"></h2>
   </header>
    <div class="wrapper fadeInDown">
        <!-- <img class="img-fondo" src="lib/img/FONDO2.jpg" alt="">     -->
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="/img/SVG/inicio-sesion.svg" id="icon" alt="User Icon"/>
            <h3 class="subt">INICIA SESIÓN</h3>
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
            <input type="submit" class="btn fadeIn fourth" value="Ingresar">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="recuperacion.html">Olvidaste tu contraseña?</a>
          </div>
      
        </div>
      </div>





    <script src="lib/frameworks/bootstrap/js/bootstrap.min.js"></script>
    
    </body>
</html>