<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/CSS/loading.css">
    <title>Pantalla de carga</title>
</head>

<body style="background-color: #CDCDCD;">
   
    <div class="container-img">
        <img class="image" src="/img/SVG/Imagotipo Sentry 2021_Águila.svg" style="width: 100px;">
    </div>

<div class="container">
    <div align="center" style="height:30px; width:100px;overflow:hidden; display: contents; " >
       <div class="ball_bleu"></div>
       <div class="ball_vert"></div>
       <div class="ball_rouge"></div>
      
       <div></div>
    
    </div>
    
</div>
<p class="texto" >Cargando...</p>
    


    <script src="jQuery.js"></script>
    <!-- <script src="jquery.img_preloader.js"></script> -->
    <!-- <script src="/lib/Fullscreen-Loading-Modal-Indicator-Plugin-For-jQuery-loadingModal/js/jquery.loadingModal.min.js"></script> -->
    <script src="ejemplo.js"></script>
</body>
</html>