<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Principal 2</title>
</head>
<body>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="/CSS/prue.css">
  <link rel="stylesheet" href="/CSS/cards.css">
  <link rel="stylesheet" href="/lib/frameworks/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/lib/frameworks/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

		<nav class="navbar navbar-expand-sm   navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img class="imgLogo" src="/img/PNG/LogooSentry.png" alt="">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="principal2.html">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Historico<span class="sr-only">(current)</span></a>
      </li>
 
      
      <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Usuarios
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" href="views/create-user.html">Crear</a>
          <a class="dropdown-item" href="#">Editar</a>
          
        </div>
      </li>
      <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Roles
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item" href="views/crear-rol.html">Crear</a>
        <a class="dropdown-item" href="#">Editar</a>
        
      </div>
    </li>
     <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Areas
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item" href="views/crear-aliado.html">Crear</a>
        <a class="dropdown-item" href="#">Editar</a>
        
      </div>
    </li>
    <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Indicadores
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item" href="views/crear-sede.html">Crear</a>
        <a class="dropdown-item" href="#">Editar</a>
        
      </div>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button class="btn btn-outline-default my-2 my-sm-0" type="submit">Cerrar sesion</button>
    </form>
  </div>
</nav>

  <!-- CARROUSEL -->

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</head>
<section class="details-card">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="card-content">
                  <div class="card-img">
                      <img src="https://placeimg.com/380/230/nature" alt="">
                      <span><h4>heading</h4></span>
                  </div>
                  <div class="card-desc">
                      <h3>Heading</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                          voluptas totam</p>
                          <a href="#" class="btn-card">Read</a>   
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card-content">
                <div class="card-img">
                    <img src="https://placeimg.com/380/230/nature" alt="">
                    <span><h4>heading</h4></span>
                </div>
                <div class="card-desc">
                    <h3>Heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                        voluptas totam</p>
                        <a href="#" class="btn-card">Read</a>   
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card-content">
              <div class="card-img">
                  <img src="https://placeimg.com/380/230/nature" alt="">
                  <span><h4>heading</h4></span>
              </div>
              <div class="card-desc">
                  <h3>Heading</h3>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                      voluptas totam</p>
                      <a href="#" class="btn-card">Read</a>   
              </div>
          </div>
      </div>
      
          <div class="col-md-4">
            <div class="card-content">
                <div class="card-img">
                    <img src="https://placeimg.com/380/230/nature" alt="">
                    <span><h4>heading</h4></span>
                </div>
                <div class="card-desc">
                    <h3>Heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                        voluptas totam</p>
                        <a href="#" class="btn-card">Read</a>   
                </div>
            </div>
        </div>
          <div class="col-md-4">
              <div class="card-content">
                  <div class="card-img">
                      <img src="https://placeimg.com/380/230/animals" alt="">
                      <span><h4>heading2</h4></span>
                  </div>
                  <div class="card-desc">
                      <h3>Heading2</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                          voluptas totam</p>
                          <a href="#" class="btn-card">Read</a>   
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card-content">
                  <div class="card-img">
                      <img src="https://placeimg.com/380/230/tech" alt="">
                      <span><h4>heading3</h4></span>
                  </div>
                  <div class="card-desc">
                      <h3>Heading3</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                          voluptas totam</p>
                          <a href="#" class="btn-card">Read</a>   
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<footer class="footerP">
  <img class="footerP-img" src="/img/PNG/LogooSentry.png" alt="">
  <h2 class="footerP-text">Created By: Brandon Vides</h2>
  
</footer>

  

</body>
  <script src="lib/frameworks/OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js"></script>
  <script src="lib/frameworks/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
 
</html>