<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Principal 2</title>
</head>
<body>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="/CSS/prue.css">
  <link rel="stylesheet" href="lib/frameworks/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="lib/frameworks/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

		<nav class="navbar navbar-expand-sm   navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img class="imgLogo" src="/img/PNG/LogooSentry.png" alt="">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="principal2.html">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Consultar<span class="sr-only">(current)</span></a>
      </li>
 
      
      <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Usuarios
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" href="views/create-user.html">Crear</a>
          <a class="dropdown-item" href="#">Editar</a>
          
        </div>
      </li>
      <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Roles
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item" href="views/crear-rol.html">Crear</a>
        <a class="dropdown-item" href="#">Editar</a>
        
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
       Roles
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Crear</a>
        <a class="dropdown-item" href="#">Editar</a>
      </div>
    </li>
     <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Aliados
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item" href="views/crear-aliado.html">Crear</a>
        <a class="dropdown-item" href="#">Editar</a>
        
      </div>
    </li>
    <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Sedes
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item" href="views/crear-sede.html">Crear</a>
        <a class="dropdown-item" href="#">Editar</a>
        
      </div>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button class="btn btn-outline-default my-2 my-sm-0" type="submit">Cerrar sesion</button>
    </form>
  </div>
</nav>

  <!-- CARROUSEL -->

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 80%;
    height: 100%;
    margin-left: 130px;
  }
  </style>
</head>
<div class="home-content">
  <!-- <i class='bx bx-menu' ></i> -->
  <span class="text">Principal</span>
  <img class="icon" src="../img/PNG/logo-blanco.png" style="width: 74px; margin-left: 702px;  ">
</div>
<div class="caja">
<div class="card" >
  <img class="card-img-top" src="../img/SVG/roles.svg" alt="Card image cap" style="padding: 15px;">
  <div class="card-body">
    <h5 class="card-title">ROLES</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="roles.html" class="btn btn-danger">Ir al sitio</a>
  </div>
</div>

<div class="card" >
  <img class="card-img-top" src="../img/SVG/indicadores.svg" alt="Card image cap" style="padding: 15px;">
  <div class="card-body">
    <h5 class="card-title">INDICADORES</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-danger">Ir al sitio</a>
  </div>
</div>

<div class="card" >
  <img class="card-img-top" src="../img/SVG/areas.svg" alt="Card image cap" style="padding: 15px;">
  <div class="card-body">
    <h5 class="card-title">AREAS</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-danger">Ir al sitio</a>
  </div>
</div>

<div class="card" >
  <img class="card-img-top " src="../img/SVG/reportes.svg" alt="Card image cap" style="padding: 15px;">
  <div class="card-body">
    <h5 class="card-title">REPORTES</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-danger">Ir al sitio</a>
  </div>
</div>
  </script>
</html>