<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Principal 2</title>
</head>
<body>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="/CSS/prue.css">
  <link rel="stylesheet" href="/CSS/cards.css">
  <link rel="stylesheet" href="/CSS/crud.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 
		<nav class="navbar navbar-expand-sm   navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img class="imgLogo" src="/img/SVG/Imagotipo Sentry 2021_Águila Blanca.svg" alt="">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="principal2.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reportes</a>
      </li>
 
      
      <li class="nav-item ">
        <a class="nav-link " href="Usuario.html" id="navbardrop">
          Usuarios
        </a>
       
      </li>
      <li class="nav-item dropdown dmenu">
      <a class="nav-link " href="roles.html" id="navbardrop" >
        Roles
      </a>
     
    </li>
     <li class="nav-item dropdown dmenu">
      <a class="nav-link " href="areas.html" id="navbardrop" >
        Areas
      </a>
   
    </li>
    <li class="nav-item dropdown dmenu">
      <a class="nav-link " href="#" id="navbardrop" >
        Indicadores
      </a>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button class="btn btn-outline-default" type="submit">Cerrar sesion</button>
    </form>
  </div>
</nav>

</head>
 <section class="details">
   
  <div class="img-inicio" >
    <img src="/IMG/PNG/inicio.png" alt="" style="border-radius: 30px;">
  </div>
</section> 


<footer class="footerP">
  <h2 class="footerP-text">Politica de privacidad y datos <br>¿Quienes somos?</h2>
  <h2 class="footerP-text">Copyright 2021 Sistemas Sentry S.A.S <br> <b>Sentry</b>Business<b>Management</b></h2>
  <img class="footerP-img" src="/img/SVG/Imagotipo Sentry 2021_GRIS.svg" alt="">
</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body> 
</html>