<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/frameworks/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/login.css">
    <title>Recupera contraseña</title>
</head>
<body>
    <header>
        <img class="icon" src="/img/SVG/Imagotipo Sentry 2021_Águila Blanca.svg" style="margin: 10px;">
        <!-- <h2 class="header-sesion">Recupera tu contraseña</h2> -->
    </header>
     <div class="wrapper fadeInDown">
         <!-- <img class="img-fondo" src="lib/img/FONDO2.jpg" alt="">     -->
         <div id="formContent">
           <!-- Tabs Titles -->
       
           <!-- Icon -->
           <div class="fadeIn first">
             <img src="/img/SVG/contraseña.svg" id="icon" alt="User Icon"/>
             <h3 class="subt">Recuperación de <br> contraseña</h3>
           </div>
       
           <!-- Login Form -->
           <form>
             <input type="text" id="login" class="fadeIn second" required="true" name="login" placeholder="Email">
             <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
             <input type="password" id="password" class="fadeIn third" required="true" name="login" placeholder="Confirmar Contraseña">
             <input type="submit" class="fadeIn fourth" value="Recuperar">
           </form>
       
           <!-- Remind Passowrd -->
           <div id="formFooter">
             <a class="underlineHover" href="inicio-sesion.html">Inicia Sesión</a>
           </div>
       
         </div>
       </div>
       <!-- <footer>
           <h2 class="footer-cont">contactos</h2>
       </footer> -->

       <script src="lib/frameworks/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>